# Week 2 will use these values. Do not add real credentials to this file.
NYLAS_API_KEY=
NYLAS_API_URI=https://api.us.nylas.com
NYLAS_CLIENT_ID=
NYLAS_GRANT_ID=
WEBHOOK_SECRET=
EMAIL=
SERVER_URL=

# Week 2 Jev quickstart
TYPESAFE_API_KEY=
